!#include "/home/matt/.colors/green"
urxvt*smoothResize: true
!URxvt.boldFont:xft:lemon:medium:pixelsize=10
!URxvt.boldFont:xft:Roboto Mono Medium for Powerline:Medium:pixelsize=13
!URxvt.boldFont:xft:Roboto Mono for Powerline:Regular:pixelsize=13
!URxvt.boldFont:xft:Source Code Pro for Powerline:Regular:size=10
!URxvt.boldFont:xft:Source Code Pro for Powerline:Regular:size=9
!URxvt.boldFont:xft:Inconsolata-g for Powerline:g:size=10
!URxvt.boldFont:xft:Fira Mono Medium for Powerline:Medium:size=9
URxvt.boldFont:xft:Fira Mono:Medium:size=9
!URxvt.boldFont:xft:Fira Mono for Powerline:Regular:size=9
!URxvt.boldFont:xft:DejaVu Sans Mono for Powerline:Book:size=9
!URxvt.boldFont:xft:Meslo LG S for Powerline:RegularForPowerline:size=9
!URxvt.boldFont:xft:M+ 2m:medium:size=10
!URxvt.boldFont:xft:Hack:Regular:size=9
!URxvt.font:xft:lemon:medium:pixelsize=10
!URxvt.font:xft:Roboto Mono Medium for Powerline:Medium:pixelsize=13
!URxvt.font:xft:Roboto Mono for Powerline:Regular:pixelsize=13
!URxvt.font:xft:Source Code Pro for Powerline:Semibold:size=10
!URxvt.font:xft:Source Code Pro for Powerline:Regular:size=9
!URxvt.font:xft:Inconsolata-g for Powerline:g:size=10
!URxvt.font:xft:Fira Mono Medium for Powerline:Medium:size=9
URxvt.font:xft:Fira Mono:Medium:size=9


!URxvt.font:xft:Fira Mono for Powerline:Regular:size=9
!URxvt.font:xft:DejaVu Sans Mono for Powerline:Book:size=9
!URxvt.font:xft:Meslo LG S for Powerline:RegularForPowerline:size=9
!URxvt.font:xft:M+ 2m:medium:size=10
!URxvt.font:xft:Hack:regular:size=9
!URxvt.font: -*-lemon-medium-r-normal-*-10-*-*-*-m-*-*-1
URxvt.letterSpace: -1.8

URxvt.scrollBar: false
URxvt.internalBorder: 5
Xcursor.theme: MATE

URxvt.urgentOnBell: true

!infinality font stuffs
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! hard contrast: *background: #1d2021
*background: #282828
!*background: #2f343f
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
